body, h1, p {
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.turn_to_blue {
    color: blueviolet;
}
#an_id {
font-size: x-large;
}
div p{
font-family: cursive;
    font-size: xx-large;
}

.Interesting web > p {
    color: chartreuse;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(14, 9, 10);
}